html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.nav-link, h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background: url(../images/desktop/image-hero.jpg) center/cover no-repeat;
  min-height: 100vh;
}

@media (min-width: 992px) {
  header {
    min-height: 650px;
  }
}

.logo {
  max-width: 11rem;
}

@media (min-width: 768px) {
  .logo {
    max-width: 11.25rem;
  }
}

@media (min-width: 1200px) {
  .logo {
    max-width: 11.875rem;
  }
}

.navbar-toggler:focus {
  outline: unset;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler .bar {
  display: block;
  width: 30px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.navbar-toggler .bar:not(:last-child) {
  margin-bottom: 5px;
}

.navbar-toggler.open .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.navbar-toggler.open .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.open .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.navbar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 5;
}

.navbar.open {
  background-color: black;
}

@media (min-width: 992px) {
  .navbar.open {
    background-color: transparent;
  }
}

.navbar-nav {
  min-height: calc(100vh - 75.28px);
}

@media (min-width: 992px) {
  .navbar-nav {
    min-height: unset;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 2rem;
  }
}

.navbar-nav .nav-link {
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    font-size: 1.25rem;
    text-transform: capitalize;
  }
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .navbar-nav .nav-link:hover {
    text-decoration: none;
  }
  .navbar-nav .nav-link:hover::after {
    content: "";
    width: 2rem;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
  }
}

.banner {
  z-index: 1;
}

.banner h1 {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 2.5rem;
  border: 2px solid white;
  padding: 1rem;
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 2.75rem;
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  .banner h1 {
    font-size: 3rem;
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .banner h1 {
    font-size: 3.5rem;
    padding: 2rem;
  }
}

#vr-section {
  background-color: white;
}

.vr-container {
  padding: 7.5rem 0;
}

@media (min-width: 768px) {
  .vr-container {
    position: relative;
  }
}

@media (min-width: 768px) {
  .img-div {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .img-div {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .img-div {
    max-width: 100%;
  }
}

.text-div {
  margin: 4rem auto 0 auto;
  max-width: 600px;
}

@media (min-width: 768px) {
  .text-div {
    position: absolute;
    right: 1.5rem;
    bottom: 2rem;
    padding: 2rem;
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .text-div {
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  .text-div {
    padding: 3rem;
    max-width: 650px;
  }
}

.para {
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .para {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .para {
    padding-right: 5rem;
  }
}

.vr-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .vr-header {
    font-size: 3rem;
  }
}

#creations {
  background-color: white;
}

#creations .btn-1 {
  display: none;
  border-radius: 0;
  border: 2px solid black;
  color: black;
  letter-spacing: 2px;
}

#creations .btn-1:hover {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  #creations .btn-1 {
    display: block;
  }
}

.creation-header {
  font-size: 2.5rem;
}

.grid-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 4rem 0;
}

@media (min-width: 768px) {
  .grid-div {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-div {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-div {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-div .grid-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 150px;
  position: relative;
}

@media (min-width: 992px) {
  .grid-div .grid-img {
    min-height: 400px;
  }
}

@media (min-width: 1200px) {
  .grid-div .grid-img {
    min-height: 450px;
  }
}

.grid-div h3 {
  position: absolute;
  left: 1.5rem;
  bottom: 0;
  color: white;
  font-size: 2rem;
}

.grid-div .earth {
  background-image: url(../images/mobile/image-deep-earth.jpg);
}

@media (min-width: 992px) {
  .grid-div .earth {
    background-image: url(../images/desktop/image-deep-earth.jpg);
  }
}

.grid-div .arcade {
  background-image: url(../images/mobile/image-night-arcade.jpg);
}

@media (min-width: 992px) {
  .grid-div .arcade {
    background-image: url(../images/desktop/image-night-arcade.jpg);
  }
}

.grid-div .soccer {
  background-image: url(../images/mobile/image-soccer-team.jpg);
}

@media (min-width: 992px) {
  .grid-div .soccer {
    background-image: url(../images/desktop/image-soccer-team.jpg);
  }
}

.grid-div .the-grid {
  background-image: url(../images/mobile/image-grid.jpg);
}

@media (min-width: 992px) {
  .grid-div .the-grid {
    background-image: url(../images/desktop/image-grid.jpg);
  }
}

.grid-div .above {
  background-image: url(../images/mobile/image-from-above.jpg);
}

@media (min-width: 992px) {
  .grid-div .above {
    background-image: url(../images/desktop/image-from-above.jpg);
  }
}

.grid-div .pocket {
  background-image: url(../images/mobile/image-pocket-borealis.jpg);
}

@media (min-width: 992px) {
  .grid-div .pocket {
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
  }
}

.grid-div .curiosity {
  background-image: url(../images/mobile/image-curiosity.jpg);
}

@media (min-width: 992px) {
  .grid-div .curiosity {
    background-image: url(../images/desktop/image-curiosity.jpg);
  }
}

.grid-div .fisheye {
  background-image: url(../images/mobile/image-fisheye.jpg);
}

@media (min-width: 992px) {
  .grid-div .fisheye {
    background-image: url(../images/desktop/image-fisheye.jpg);
  }
}

.btn-2 {
  display: block;
  border-radius: 0;
  border: 2px solid black;
  color: black;
  letter-spacing: 2px;
  max-width: 11rem;
  margin-bottom: 4rem;
}

.btn-2:hover {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .btn-2 {
    display: none;
  }
}

footer {
  background-color: black;
  padding: 4.5rem 0 2.5rem 0;
}

.footer-links a:hover::after {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: white;
  display: block;
  margin: auto;
}

.social-links i:hover {
  color: #8c8c8c;
}
/*# sourceMappingURL=main.css.map */