//media queries
@mixin for-phone-only {
    @media (min-width: 576px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 768px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 992px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1400px) { @content; }
}

//flex
@mixin flex-aic-jcc{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin for-button{
    border-radius: 0;
    border: 2px solid black ;
    color: $Black;
    letter-spacing: 2px;
        
    &:hover{
        background-color: $Black;
        color: $White;
    }
}

@mixin for-link-hover{
    &::after{
        content: "";
        width: 2rem;
        height: 2px;
        background-color: $White;
        display: block;
        margin: auto;
    }
}