$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

//fonts
$alata-400: 'Alata', sans-serif;
$josefin-sans-300: 'Josefin Sans', sans-serif;

$enable-grid-classes: false;
$enable-cssgrid: true;
